<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <form action="/staffManage/getRegister" method="post">
        用户名：<input type="text" name="username"><br>
        真实姓名：<input type="text" name="realname"><br>
        密码：<input type="text" name="password"><br>
        确认密码：<input type="text" name="checkPass"><br>
        性别：
            <input type="radio" name="sex" value="0">男&nbsp;
            <input type="radio" name="sex" value="1">女 <br>
        <input type="submit"id="register">&nbsp;
        <input type="reset">
    </form>
    
     <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js "></script>
		<script type="text/javascript">
		
    $("#register").click(function () {
        
    	//获取值
        var username = $("input[name='username']").val();
        var realname = $("input[name='realname']").val();
 		var password = $("input[name='password']").val();
 		var checkPass = $("input[name='checkPass']").val();
 		var sex = $("input[name='sex']").val();
 		console.log(username+"+"+trueName+"+"+pass+"+"+checkPass+"+"+sex); 
      $.ajax({
            url:"/getRegister",
            scriptCharset: "utf-8",
            contentType: "application/json; charset=utf-8"
            type:"post",
            //注意序列化的值一定要放在最前面,并且不需要头部变量,不然获取的值得格式会有问题
            data:{
            	"username":username,
            	"realname":realname,
            	"password":password,
            	"checkPass":checkPass,
            	"sex":sex
            	},    
            dataType:"json",
            
            success:function (data) {
            	console.log(data);
                // alert(data.result);
                alert(data.result);
            }
            
            
        });
        
    })
</script>
	
</body>
</html>